<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Zip</th>
      <th>City</th>
      <th>State</th>
      <th>Borough</th>
      <th>Street</th>
      <th>Number</th>
      <th>Comp</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.borough %></td>
        <td><%= customer.street %></td>
        <td><%= customer.number %></td>
        <td><%= customer.comp %></td>
        <td><%= customer.type %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
