<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Ziptwo</th>
      <th>Citytwo</th>
      <th>Statetwo</th>
      <th>Boroughtwo</th>
      <th>Streettwo</th>
      <th>Numbertwo</th>
      <th>Comptwo</th>
      <th>Typetwo</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.ziptwo %></td>
        <td><%= address.citytwo %></td>
        <td><%= address.statetwo %></td>
        <td><%= address.boroughtwo %></td>
        <td><%= address.streettwo %></td>
        <td><%= address.numbertwo %></td>
        <td><%= address.comptwo %></td>
        <td><%= address.typetwo %></td>
        <td><%= address.customer %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address', new_address_path %>
