<p id="notice"><%= notice %></p>

<p>
  <strong>Ziptwo:</strong>
  <%= @address.ziptwo %>
</p>

<p>
  <strong>Citytwo:</strong>
  <%= @address.citytwo %>
</p>

<p>
  <strong>Statetwo:</strong>
  <%= @address.statetwo %>
</p>

<p>
  <strong>Boroughtwo:</strong>
  <%= @address.boroughtwo %>
</p>

<p>
  <strong>Streettwo:</strong>
  <%= @address.streettwo %>
</p>

<p>
  <strong>Numbertwo:</strong>
  <%= @address.numbertwo %>
</p>

<p>
  <strong>Comptwo:</strong>
  <%= @address.comptwo %>
</p>

<p>
  <strong>Typetwo:</strong>
  <%= @address.typetwo %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @address.customer %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
